# Dependency directories
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage/

# Public files
public/

# Misc
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production

# IDE/Editor specific
.idea/
.vscode/
*.swp
*.swo 